.input-group {

  input, textarea, select {
    border-radius: 10px;
    border: 1px solid $light-grey;

    &.invalid {
      border: 1px solid red;
    }
  }

  textarea::placeholder {
    text-align: center;
  }

  input:not([type=text]), select {
    text-align: center;
  }

  .error {
    margin: 3px;
    font-size: 10px;
    color: red;
  }

  label {
    display: flex;
    align-items: center;
  }

  &.checkbox {
    height: 100%;
    justify-content: center;

    .custom-checkbox{
      margin: auto 10px;
    }

    input{
      margin: 10px;
    }
  }

  @include media('>=desktop'){
    input:not([type="text"]), select {
      height: 50px;
    }

    input[type=text] {
      height: 75px;
    }

    label{
      font-size: $big-text;
    }
  }

  @include media('<desktop'){
    input:not([type="text"]) {
      height: 25px;
    }

    input[type=text] {
      height: 50px;
    }

    label{
      font-size: $medium-text;
    }
  }
}

.input-wca {
  display: flex;
  border-radius: 10px;
  border: 1px solid $light-grey;
  text-align: center;

  input {
    border-radius: 10px 0 0 10px;
    border: none;
    margin: none;
    width: 100%;
    text-align: center;
  }

  button {
    border-radius: 0 10px 10px 0;
    width: 30px;
  }
}


.app-button{
  border: none;
  color: $white;
  background: $grey;
  font-weight: $bold;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
}

.app-link, .app-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 20px;
  font-size: inherit;

  a{
    color: inherit;
    text-decoration: none;
  }
}

@include media('>=desktop'){
  .app-link,.app-button {
    height: 45px;
  }
}

@include media('<desktop'){
  .app-link, .app-button {
    height: 20px;
    width: 50vw;
    margin: 10px auto;
    padding: 15px 0;
  }
}

.info-text {
  font-size: $big-text;
  font-weight: $bold;
  margin: 3px auto
}

.kick-button {
  cursor: pointer;
  transform: scale(2);
  font-weight: bolder;
  color: red;
  margin: 5px;
}

.icon-button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}