.voting-room .desktop-layout {
  height: inherit;

  .voting-stage {
    display: flex;
    overflow: hidden;
    height: calc(100% - 50px);

    .right {
      padding-bottom: 50px;
      overflow: scroll;
      height: 100%;
      width: 20vw;
    }
  
    .players-section {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-auto-flow: column;
      height: calc(100vh - 60px);
      width: calc(100vw - 20vw);
    }  
  }

  .cards-section{
    height: 50px;
  }
}