.voting-room .desktop-layout {
  display: flex;
  position: relative;
  flex-direction: column;
  height: inherit;

  .voting-stage {
    display: flex;
    overflow: hidden;

    .tasks-section {
      width: 20vw;
    }
  
    .players-section {
      display: grid;
      grid-template-columns: repeat(5, auto);
      height: calc(100vh - 60px);
      width: calc(100vw - 20vw);
    }  
  }

  .cards-section{
    position: absolute;
    bottom: 0;
    height: 50px;
  }

  .result {
    background-color: yellow;
  }
}